<header>
  <h2>Work Experience:</h2>
</header>
<section>
  <ul>
    <li>
      <strong>Spokane Teacher's Credit Union</strong> - Software Developer I
      (2023 - Present)
    </li>
    <li>
      <strong>Spokane Teacher's Credit Union</strong>
      - QA Engineer II (2021 -2023)
    </li>
    <li>
      <strong>Volt workforce solutions contracted to Avista Utilities</strong>
      - QA Engineer (2021 - 2021)
    </li>
    <li>
      <strong>Volt workforce solutions contracted to Avista Utilities</strong>
      - UAT tester/Test Lead (2019 - 2021)
    </li>
  </ul>
</section>
