<main>
  <header>
    <h1>About Me</h1>
  </header>
  <section>
    <p>
      I am your Pixel Brewer, or you can call me Alex. Curently I am employed as
      a full stack software engineer by Spokane Teacher's Credit Union (STCU),
      one of Washington State's largest credit unions.
    </p>
    <p>
      I mainly code Angular apps, like this one, and .NET web api's with some
      Azure functions as well. I take pride in creating clean, maintainable
      applications that are able to help people achieve the goals they set out
      to accomplish. Below you will find a list of my past work experiences in
      chronological order, some skills I have aquired over the years, my
      education, as well as a few of my hobbies and interests.
    </p>
  </section>
  <div>
    <img src="KendoSmall.jpg" alt="Profile picture of me in kendo uniform." />
  </div>
  <app-experience></app-experience>
</main>
