<h1>Alex Blair (Pixel Brewer)</h1>

<div>
  <p>
    Hello and welcome to my cafe. I am your pixel barista. Why don't we brew up
    some coffee and discuss why I should be your next hire. Where to begin? I
    have a passion for all things in tech, especially writing code and solving
    problems. Currently I am employed as a Software Developer at a credit union
    called STCU. STCU is one of Washington state's largest credit unions and I
    am proud to work on projects that impact large volumes of members and thier
    finances.
  </p>
</div>
